body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-family: Space Mono;
    box-sizing: border-box;
    text-decoration: none;
}

.spacer{
    height: 3em;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-white{
    background-color: white;
    color: black;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 900;
}

.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.fullscreen{
    min-height: 100vh;
    min-height: 100svh;
}

.center-text{
    text-align: center;
}

@font-face {
    font-family: 'Cyber';
    src: url(font/Agora.ttf);
}

.container {
    padding: 5%;
}

.flex{
    display: flex;
}

#main {
    font-family: Cyber;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    background-image: url(/image/evangelion.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contact {
    justify-content: center;
    align-items: center;
}

.close-button {
    border: none;
    font-size: 1em;
    color: white;
    background-color: transparent;
    cursor: pointer;
    height: 4em;
    margin: 0;
}

#navigation-bar {
    position: fixed;
    top: 3em;
    right: 0;
    height: 4em;
    background-color: gray;
    color: #fff;
    padding-left: 10px;
    display: flex;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 99;
    width: 15em;
}

#navigation-bar.collapsed {
    right: -12em;
    text-decoration: none;
}

#navigation-bar a:visited {
    color: white;
}

#navigation-bar.collapsed a {
    color: white;
    display: none;
}

#navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navigation-bar a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

#navigation-bar ul li:first-child {
    margin-left: 20px;
}

.tech-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr)); /* Adjust min-width as needed */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.tech-grid img {
    width: 100%; /* Ensure images take up the full width of the column */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 700px) {
.tech-grid {
    grid-template-columns: repeat(auto-fill, minmax(5em, 1fr)); /* Adjust min-width for smaller screens */
}
}

.box{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 3em;
}

@media (max-width: 991px) {
    .box{
        text-align: center;
    }
    .img-fluid{
        width: 10em;
    }

    .box-img{
        padding: 1.5em;
        border-bottom: 1px solid #e9e9e9;
    }

    .box-desc{
        padding: 1.5em;
    }

}

.typewrite{
    color: white;
    text-decoration: underline;
}

.typewrite a:visited{
    color: white;
}

.swiper {
    width: 100%;
    height: 30em;
    background-color: white;
}

.swiper-slide{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.round-border{
    border: 1px solid #e9e9e9;
    border-radius: 12px;
    box-shadow: 0 30px 30px -10px #0000001a;
}

.swiper-button-next,
.swiper-button-prev{
    color: white;
}

#contact a{
    text-decoration: underline;
    color: white;
}

#contact a:visited {
    color: white;
}


#portfolio a{
    text-decoration: underline;
    color: black;
}

#portfolio a:visited {
    color: black;
}


.gradient-spacer{
    height: 20vh;
}